<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register E-Commerces</title>
</head>
<body>

    <h1>Register E-Commerce Websites</h1>

    <form action="">   

            {% for item in ecommData %}
                <input type="checkbox" id="item3" name="item3" value="listitem3">
                <label><a href="{{item[1]}}"> {{item[0]}} </a></label> <br />
            {% endfor %}

        <input type="submit" value="Submit">        
    </form>

    <!-- TO-DO : Post the list of e-commerce websites the seller is interested in. -->

</body>
</html>